html, body { 
  height:100%; 
}

main {
  min-height: 85vh;
}

h3 {
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem !important;
  padding: 0.5rem 0;
  margin: 0 !important;
}


h1 {
  font-size: 1.8rem !important;
  padding: 1rem 0;
}

.rating span {
  margin: 0.07rem;
}

:disabled {
  cursor: not-allowed;
}

#root .nav-item a.active {
  background-color: #eceeef;
  color: #000000;
}

.form-check-label {
  margin: 2px 0 0 6px;
}

.products-page .carousel-indicators li {
  color: #4bbf73;
  background-color: #4bbf73;
}

.products-page .carousel-control-next, 
.products-page .carousel-control-prev {
  opacity: 0.95;
  width: 10%;
}

.products-page .carousel-control-next span, 
.products-page .carousel-control-prev span {
  background-color: #4bbf73;
  background-origin: content-box;
  box-sizing: content-box;
  padding: 6px;
}

.carousel-caption h2 {
 border-bottom: solid 2px #4bbf73
}